@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: black;
}

.container {
  background: -webkit-linear-gradient(#289bc8, #12678f);
  background: -o-linear-gradient(#289bc8, #12678f);
  background: -moz-linear-gradient(#289bc8, #12678f);
  background: linear-gradient(#289bc8, #12678f);
  margin: 2% 0;
  color: white;
  *zoom: 1;
}
.container:before {
  content: " ";
  display: table;
}
.container:after {
  content: " ";
  display: table;
  clear: both;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  height: 100%;
}

.shopper {
  width: 25%;
  height: 400px;
  padding: 50px 0 50px 10%;
  float: left;
}

.john {
  background-image: url("../images/john_001.png");
  background-repeat: no-repeat;
  width: 221px;
  height: 371px;
  background-size: cover;
}

.products {
  width: 50%;
  height: 400px;
  padding: 50px 5% 50px 5%;
  float: right;
}

.building {
  background-image: url("../images/building_big_car_001.png");
  background-repeat: no-repeat;
  width: 531px;
  height: 380px;
  background-size: cover;
  background-size: 100%;
}

.small {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 981px) {
  .john {
    background-size: 161px 271px;
  }
}

@media screen and (max-width: 981px) {
  .building {
    background-image: url("../images/building_med_car.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-size: 100%;
  }
}

@media screen and (max-width: 481px) {
  .shopper {
    display: none;
  }
}

@media screen and (max-width: 481px) {
  .products {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .products {
    float: left;
  }
}

@media screen and (max-width: 481px) {
  .door {
    background-image: url("../images/door.png");
    background-repeat: no-repeat;
    width: 105px;
    height: 272px;
    background-size: cover;
    margin: 10% auto;
  }
}

.small {
  display: none;
}
@media only screen and (max-width: 481px) {
  .small {
    display: block;
  }
}
